<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/form.css}">
</head>
<body>
<div class="container">
    <div id="list-wrap">
        <h2>Ingrese o Actualice los datos de productos</h2>
        <hr>
        <div class="items-body">
            <form th:action="@{/editarAgregarProducto}" method = "post" th:object="${producto}">
                <!--
                <label >idProducto:</label>
                -->
                <input type="text" name="idProducto" th:field="*{idProducto}" style="display: none;" required/>
                <br/>
                <div class="form-group">
                    <label >codigoEan:</label>
                    <input type="number" name="codigoEan" th:field="*{codigoEan}" required/>
                </div>
                <div class="form-group">
                    <label >nombre:</label>
                    <input type="text" name="nombre" th:field="*{nombre}" required/>
                </div>
                <div class="form-group">
                    <label >descripcion:</label>
                    <input type="text" name="descripcion" th:field="*{descripcion}" required/>
                </div>
                <div class="form-group">
                    <label >precio:</label>
                    <input type="number" name="precio" th:field="*{precio}" required/>
                </div>
                <div class="form-group">
                    <label >stock:</label>
                    <input type="number" name="stock" th:field="*{stock}" required/>
                </div>
                <br>
                <input class="create_button" type="submit" name="guardar" value="Guardar"/>
                <a class="cancelar" th:href="@{/listaProductos}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>