<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>producto</h1>
    <form th:action="@{/editarAgregarProducto}" method = "post" th:object="${producto}">
        <label >codigoProducto:</label>
        <input type="text" name="codigoProducto" th:field="*{codigoProducto}"/>
        <br/>
        <label >codigoEanProducto:</label>
        <input type="text" name="codigoEanProducto" th:field="*{codigoEanProducto}"/>
        <br/>
        <label >nombre:</label>
        <input type="text" name="nombre" th:field="*{nombre}"/>
        <br/>
        <label >descripcion:</label>
        <input type="text" name="descripcion" th:field="*{descripcion}"/>
        <br/>
        <label >precio:</label>
        <input type="text" name="precio" th:field="*{precio}"/>
        <br/>
        <label >stock:</label>
        <input type="text" name="stock" th:field="*{stock}"/>
        <br/>
        <input type="submit" name="guardar" value="Guardar"/>
    </form>
    <form th:action="@{/cancelar}" method="post">
        <button  type="submit"  >cancelar</button>

    </form>

</body>
</html>