<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ejercicio 2 con Thymeleaf</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container" th:if="${listaProductos != null and !listaProductos.empty}">
    <div class="items">
        <div class="items-head" >
            <h1 th:text="${tituloProducto}"> Título predeterminado </h1>
            <hr>
        </div>
        <div  class="items-body">
            <table class="styled-table" border = "1">
                <thead>
                <tr>
                    <th>codigoProducto</th>
                    <th>codigoEanProducto</th>
                    <th>nombre</th>
                    <th>descripcion</th>
                    <th>precio</th>
                    <th>stock</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="producto: ${listaProductos} ">
                    <td th:text="${producto.codigoProducto}"> codigoProducto</td>
                    <td th:text="${producto.codigoEanProducto}"> codigoEanProducto</td>
                    <td th:text="${producto.nombre}"> nombre</td>
                    <td th:text="${producto.descripcion}"> descripcion</td>
                    <td th:text="${producto.precio}"> precio</td>
                    <td th:text="${producto.stock}"> stocks</td>
                    <td><a th:href="@{/editarAgregarProducto/} + ${producto.codigoProducto}" th:text = "editar">editar</a></td>
                    <td><a th:href="@{/eliminar/} + ${producto.codigoProducto}" th:text = "eliminar">eliminar</a></td>

                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<form th:action="@{/agregar}" method="post">
    <button  type="submit"  >agregar</button>
</form>
<form th:action="@{/volver}" method="post">
    <button  type="submit"  >volver</button>
</form>
</body>
</html>