<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="tablas.css">
    <title>Ejercicio 2 con Thymeleaf</title>
</head>
<body>
<h1 th:text="${tituloProducto}"> Título predeterminado </h1>
<hr>
<div class="container" th:if="${listaProductos != null and !listaProductos.empty}">
    <div id="list-wrap">
        <h2 th:text="${tituloProducto}"></h2>
        <hr>
        <div  class="items-body">
            <table class="styled-table" border = "1">
                <thead>
                <tr>
                    <th>idProducto</th>
                    <th>codigoEan</th>
                    <th>nombre</th>
                    <th>descripcion</th>
                    <th>precio</th>
                    <th>stock</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="producto: ${listaProductos} ">
                    <td th:text="${producto.getIdProducto}"> idProducto</td>
                    <td th:text="${producto.getCodigoEan}"> codigoEan</td>
                    <td th:text="${producto.nombre}"> nombre</td>
                    <td th:text="${producto.descripcion}"> descripcion</td>
                    <td th:text="${producto.precio}"> precio</td>
                    <td th:text="${producto.stock}"> stocks</td>
                    <td><a th:href="@{/editarAgregarProducto/} + ${producto.idProducto}" th:text = "editar">editar</a></td>
                    <td><a th:href="@{/eliminar/} + ${producto.idProducto}" th:text = "eliminar">eliminar</a></td>

                </tr>
                </tbody>

            </table>
            <form th:action="@{/agregar}" method="post">
                <button id="create_button" type="submit"  >agregar</button>
            </form>
            <form th:action="@{/volver}" method="post">
                <button id="volver" type="submit"  >volver</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>