<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="menu.css">
</head>
    <body>
        <div id="select-menu-wrap">
            <h2>Bienvenido</h2>

            <form th:action="@{/servicios}" method="post">
                <button  type="submit"  >ver servicios</button>
            </form>

            <form th:action="@{/productos}" method="post">
                <button  type="submit"  >ver productos</button>
            </form>
        </div>
    </body>
</html>